<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Корзина товаров</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Поле с кнопками перехода в корзину, в заказы, домой -->
<div th:insert="~{fragments/common :: homePanel}"></div>
<!-- Общая цена корзины -->
<div>
  <h3>Купленные товары:</h3>
  <!-- Общая цена корзины -->
  <div>
    <span>Общая стоимость заказа: <span th:text="${#numbers.formatDecimal(totalPrice, 1, 2, 'COMMA') + ' ₽'}"></span></span>
  </div>
</div>
<!-- Сетка товаров -->
<div class="product-grid" th:unless="${#lists.isEmpty(products)}">
  <!-- Цикл по всем товарам -->
  <div class="product-card" th:each="product : ${products}">
    <a th:href="@{/products/{id}(id=${product.id})}" class="product-link">
      <!-- Картинка товара (с проверкой на наличие) -->
      <div th:if="${product.imageUrl == null or product.imageUrl.isEmpty()}"
           class="no-image">
        Нет изображения
      </div>
      <img th:if="${product.imageUrl != null and !product.imageUrl.isEmpty()}"
           th:src="${product.imageUrl}"
           alt="Изображение товара"
           class="product-image">

      <!-- Название товара -->
      <div class="product-name" th:text="${product.name}">
        Название товара
      </div>

      <!-- Описание товара -->
      <div class="product-name" th:text="${product.description}">
        Описание товара
      </div>

      <!-- Цена товара -->
      <div class="product-price"
           th:text="${#numbers.formatDecimal(product.price, 1, 2, 'COMMA') + ' ₽'}">
        0,00 ₽
      </div>
    </a>
  </div>

</div>

<!-- Сообщение, если товаров нет -->
<div th:if="${#lists.isEmpty(products)}" class="empty-message">
  Товары не найдены
</div>




</body>
</html>